@page "/"
@using DodoSweets.Models
@using System.Collections.ObjectModel
@inject NavigationManager Nav
@inject IStringLocalizer<AppResource> Loc

<PageTitle>Home</PageTitle>

<div style="display:flex;justify-content:center;
        width:100%;
        position:fixed;top:110px;z-index:1;padding-bottom:20px;
        background-color:white">
    <MudAutocomplete 
        T="Cake" 
        Style="width:60%;justify-content:center"
        FullWidth="true" 
        Class="mx-auto"
        Label="@Loc["Search"]"
        Value="selectedCake"
        ValueChanged="OnCakeSelected"
        SearchFunc="@Search"
                     ToStringFunc="@(c => @Loc[@c.Name])"
        AdornmentIcon="@Icons.Material.Filled.Search"
        AdornmentColor="Color.Primary"
        ResetValueOnEmptyText="@resetValueOnEmptyText"
        CoerceText="@coerceText"
        CoerceValue="@coerceValue"
        SelectValueOnTab="@selectedOnTab">
        <ItemTemplate Context="cake">
            <div style="display:flex; align-items:center; gap:10px;">
                <MudImage Src="@cake.Image" Style="height:50px;background-size:contain" />
                <span>@Loc[@cake.Name]</span>
            </div>
        </ItemTemplate>
    </MudAutocomplete>
</div>
<MudGrid Spacing="3" Class="container-fluid d-flex justify-content-center p-1"
Style="margin-top:90px !important">
    <MudItem Style="position:fixed;top:0">
    </MudItem>

    @foreach (var p in Cakes)
    {
         <MudItem>
            <ProductCard Name=@Loc[@p.Name]
                         Image="@p.Image"
                         Price="@p.Price"
                         OldPrice="@p.OldPrice" />
        </MudItem>
    }
 </MudGrid>

    @code {

    private bool resetValueOnEmptyText;
    private bool coerceText;
    private bool coerceValue;
    private bool selectedOnTab;

    public static ObservableCollection<Cake> Cakes = new()
    {
        new Cake { Name="dispacetochocolatelarge", Price= 100, OldPrice= 120, Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/dispacetochocolatelarge.jpg",Description="طبقتين من كيك الشوكولاته وطبقتين شوكولاته ديسباسيتو مزينة بشوكولاته كرسبي ومروار الشوكولاته"},
        new Cake { Name="dispacetochocolatemedium", Price= 40, OldPrice= 50, Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/dispacetochocolatemedium.jpg",Description="طبقه من كيك الشوكولاته وطبقه شوكولاته ديسباسيتو مزينة بشوكولاته كرسبي ومروار الشوكولاته"},
        new Cake { Name="dispacetochocolatesmall", Price= 30, OldPrice= 35, Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/dispacetochocolatesmall.jpg",Description="طبقه من كيك الشوكولاته وطبقه شوكولاته ديسباسيتو مزينة بشوكولاته كرسبي ومروار الشوكولاته"},
        new Cake { Name="dispasetodiet", Price=125 , OldPrice=130 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/dispasetodiet.jpg",Description="طبقه كيكه شوفان بالشوكولاته وطبقه من كريمه الديسباسبتو الدايت ومزينه بصوص الشوكولاته الدايت وفسدق حلبي"},

        new Cake { Name="fadegchocolatenuts", Price=70 , OldPrice=80 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/fadegchocolatenuts.jpg",Description="طبقتين كيك شوكولاته مع طبقتين من كريمه الزبده ومغطاه بصوص الشوكولاته ومزينة بفسدق حلبي"},
        new Cake { Name="fadegchocolatejamal", Price=70 , OldPrice=85 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/fadegchocolatejamal.jpg",Description="طبقتين كيك شوكولاته مع طبقتين من كريمه الزبده ومغطاه بصوص الشوكولاته ومزينة بعين الجمل"},
        new Cake { Name="fadegchocolatecaramel", Price=70 , OldPrice=80 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/fadegchocolatecaramel.jpg",Description="طبقتين كيك شوكولاته مع طبقتين من كريمه الزبده ومغطاه بصوص الشوكولاته ومزينة بصوص الكراميل"},

        new Cake { Name="basbosacreamy", Price=150 , OldPrice=165 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/basbosacreamy.jpg",Description="بسبوسه بالقشطه بالسمن البلدي"},
        new Cake { Name="basbosaalmond", Price=400 , OldPrice=410 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/basbosaalmond.jpg",Description="بسبوسه بالسمن البلدي واللوز"},
        new Cake { Name="basbosahazelnut", Price=200 , OldPrice=210 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/basbosahazelnut.jpg",Description="هريسه بالسمن البلدي والبندق"},
        new Cake { Name="konafanabulsia", Price=400 , OldPrice=440 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/konafanabulsia.jpg",Description="طبقه كنافه بالسمن البلدي مع طبقه جبن عكاوي"},

        new Cake { Name="qaraqeshdates", Price=250 , OldPrice=270 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/qaraqeshdates.jpg",Description="قراقيش بالعجوه بالسمن البلدي"},
        new Cake { Name="qaraqeshsada", Price=350 , OldPrice=360 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/qaraqeshsada.jpg",Description="قراقيش بالسمن البلدي"},
        new Cake { Name="qorsdates", Price=300 , OldPrice=320 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/qorsdates.jpg",Description="قرص بالعجوه بالزبده البلدي"},

        new Cake { Name="breadlentil", Price=80 , OldPrice=85 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/breadlentil.jpg",Description="خبز عدس دايت بدون دقيق"},
        new Cake { Name="biscuitoatsdiet", Price=125 , OldPrice=130 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/biscuitoatsdiet.jpg",Description="بسكوت شوفان دايت"},
        new Cake { Name="breadoatsdiet", Price=70 , OldPrice=75 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/breadoatsdiet.jpg",Description="خبز شوفان دايت بدون دقيق"},

        new Cake { Name="trafilcakevanillamango", Price=30 , OldPrice=35 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/trafilcakevanillamango.jpg",Description="طبقات من كيك الفانيليا الإسفنجي وطبقات من كريمه الفانيليا مزينة بصوص المانجا"},
        new Cake { Name="trafilcakevanillastrawberry", Price=30 , OldPrice=35 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/trafilcakevanillastrawberry.jpg",Description="طبقات من كيك الفانيليا الإسفنجي وطبقات من كريمه الفانيليا مزينة بصوص الفراوله"},
        new Cake { Name="trafilcakevanillaberry", Price=30 , OldPrice=35 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/trafilcakevanillaberry.jpg",Description="طبقات من كيك الفانيليا الإسفنجي وطبقات من كريمه الفانيليا مزينة بصوص التوت"},
        new Cake { Name="trafilcakevanillachocolate", Price=30 , OldPrice=35 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/trafilcakevanillachocolate.jpg",Description="طبقات من كيك الشوكولاته الإسفنجي وطبقات من كريمه الشوكولاته مزينة بصوص الشوكولاته"},

        new Cake { Name="cheesecakeberry", Price= 75, OldPrice= 80, Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/cheesecakeberry.jpg",Description="طبقه من بسكوت الفانيليا تعلوها طبقه من كريمه الجبنه مغطاه بصوص التوت"},
        new Cake { Name="cheesecakestrawberry", Price=75 , OldPrice= 80, Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/cheesecakestrawberry.jpg",Description="طبقه من بسكوت الفانيليا تعلوها طبقه من كريمه الجبنه مغطاه بصوص الفراوله"},
        new Cake { Name="cheesecakemix", Price= 75, OldPrice= 80, Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/cheesecakemix.jpg",Description="طبقه من بسكوت الفانيليا تعلوها طبقه من كريمه الجبنه مغطاه بصوص ميكس فراوله وتوت"},

        new Cake { Name="redvelvet", Price=70 , OldPrice=90 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/redvelvet.jpg",Description="طبقتين من الكيك المخملي مع طبقتين من كريمه الجبنه"},
        new Cake { Name="brawnesjamal", Price=50 , OldPrice=60 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/brawnesjamal.jpg",Description="كيك غني بالشوكولاته مع عين الجمل مزينة بصوص الشوكولاته"},
        new Cake { Name="tortablackforest", Price=250 , OldPrice=260 , Image="https://raw.githubusercontent.com/amryakout2024/Sweets-Images/main/tortablackforest.jpg",Description="طبقتين من كيك الشوكولاته الإسفنجي وطبقتين من كريمه الشوكولاته ومزينه بالكريز"},

         };


    private Cake? selectedCake;

    private async Task OnCakeSelected(Cake cake)
    {
        if (cake != null)
        {
            await Task.Delay(3);

            // Navigate to the product details page using the cake's name as a parameter
            Nav.NavigateTo($"/item/{@Loc[@cake.Name]}");
        }
    }
    private async Task<IEnumerable<Cake>> Search(string value, CancellationToken token)
    {
        // In real life use an asynchronous function for fetching data from an api.
        await Task.Delay(3, token);

        // if text is null or empty, show complete list
        if (string.IsNullOrEmpty(value))
            return Home.Cakes;
        return Home.Cakes.Where(x => x.Name.Contains(value, StringComparison.InvariantCultureIgnoreCase));
    }


}